# Database Configuration
POSTGRES_HOST_BRNO=host.docker.internal
POSTGRES_PORT_BRNO=5432
POSTGRES_DB_BRNO=analyticity
POSTGRES_USER_BRNO=postgres
POSTGRES_PASSWORD_BRNO=postgres


ORIGINS=http://localhost:5173

# Uvicorn workers (default: 1)
WORKERS=1

# SMTP (Seznam)
EMAIL_HOST=smtp.seznam.cz
EMAIL_PORT=465
EMAIL_USE_SSL=1
EMAIL_HOST_USER=your@seznam.cz
EMAIL_HOST_PASSWORD=your_password
DEFAULT_FROM_EMAIL=your@seznam.cz
EMAIL_RECIPIENT=recipient@example.com