SECRET_KEY = df2adc5d19611843628f058f814186b7ec7bd89ee733de645828d47a0ae62ff1bd209dd553ca798639eef0c67ec0a977e8b114f2690d67559155840ed87a9e7c
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 15
REFRESH_TOKEN_EXPIRE_DAYS = 7

DB_CENTRAL_NAME=central_db
DB_CENTRAL_USER=db
DB_CENTRAL_PASSWORD=admin

DB_CENTRAL_HOST=db_central
DB_CENTRAL_PORT=5432

ADMIN_BACKEND_PORT=8103
VITE_APP_CITY=ORP Most

VITE_APP_CITY=ORP Most

ORIGINS=http://localhost:5173